<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Découvrez les Dernières Offres de Stage</h5>
<p class="category">
  Proposées par nos entreprises partenaires.
</p>

        </div>
        <div class="card-body all-icons">
          <div class="row">

            <div class="col-lg-4">
              <app-profile-card   *ngIf="showProfileCard"  [image]="image" [from]="from" ></app-profile-card>
              <app-my-contacts></app-my-contacts>
            </div>


        
            
             <div class="col-lg-8">


              <app-activity-timeline (profileSelected)="onProfileSelected($event)"></app-activity-timeline>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
