/* Style pour le conteneur sticky du profile-card */
.sticky-profile-card {
  position: sticky;
  top: 20px; /* Ajustez cette valeur pour contrôler la distance par rapport au haut de la page */
  z-index: 1000; /* Assurez-vous que le profile-card est au-dessus des autres éléments */
  transition: opacity 0.4s ease, transform 0.4s ease; /* Animation fluide */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Ombre portée moderne */
}

/* Animation pour le profile-card */
.sticky-profile-card.ng-enter, .sticky-profile-card.ng-leave {
  opacity: 0; /* Fade-in et fade-out */
  transform: translateX(-20px); /* Décalage horizontal */
}

.sticky-profile-card.ng-enter-active, .sticky-profile-card.ng-leave-active {
  opacity: 1;
  transform: translateX(0);
}

/* Transition fluide pour les colonnes */
.col-lg-3,.col-lg-6, .col-lg-9 {
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1); /* Animation fluide avec easing */
}

/* Effet de zoom et ombre portée lors du changement de taille */
.col-lg-3:hover,.col-lg-6:hover, .col-lg-9:hover {
  transform: scale(1.02); /* Légère augmentation de la taille au survol */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Ombre portée moderne */
}
.greeting {
  font-family: 'Playfair Display', serif; /* Police moderne */
  font-size: 2rem; /* Taille de police plus grande */
  font-weight: 700; /* Gras */
  background: linear-gradient(90deg, #FF3636, #ed5f5f); /* Dégradé moderne */
  -webkit-background-clip: text; /* Applique le dégradé au texte */
  background-clip: text; /* Standard property for compatibility */
  -webkit-text-fill-color: transparent; /* Rend le texte transparent */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Ombre portée */
  display: flex;
  align-items: center;
  gap: 0.5rem; /* Espace entre l'icône et le texte */
  animation: fadeIn 1s ease-in-out; /* Animation de fondu */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}




.row {
  display: flex;
  flex-wrap: nowrap;
  transition: all 0.3s ease;
}



