<div class="cardWithShadow overflow-hidden">
  <header class="p-b-16 p-x-16" style="background-color: #FF3636;">
        <h3 class="text-white f-s-20 f-w-600 m-b-8">{{ title }}</h3>
    <p class="text-white f-s-14 m-0">{{ subtitle }}</p>
  </header>

  <!-- Loading State -->
  <div *ngIf="isLoading" class="loading-overlay">
    <div class="spinner"></div>
    <p>Loading ...</p>
  </div>

  <!-- Error State -->
  <div *ngIf="error" class="error-message">
    <i class="fas fa-exclamation-circle"></i>
    {{ error }}
    <button class="retry-button" (click)="isUserInCompany ? loadFollowers() : loadFollowedCompanies()">Retry</button>
  </div>

  <!-- Content for Company (Followers) -->
  <div class="msg-box" *ngIf="!isLoading && !error && isUserInCompany">
    <ng-container *ngFor="let follower of followers; trackBy: trackByFn">
      <div class="msg-item p-x-16 p-y-12">
        <div class="d-flex align-items-center w-100">
          <!-- Utilisez l'image aléatoire pour les followers -->
          <img [src]="follower.randomImage" 
               class="rounded-circle" width="48" height="48" />
          <div class="m-l-16">
            <h5 class="f-s-14 f-w-600 m-0">
              {{ follower.firstName }} {{ follower.lastName }}
            </h5>
            <span class="f-s-12">{{ follower.email }}</span>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- Message si pas de followers -->
    <div *ngIf="followers.length === 0" class="no-followers">
      <p>No followers yet</p>
    </div>
  </div>
    <!-- Content for User (Followed Companies) -->

    <div class="msg-box" *ngIf="!isLoading && !error && !isUserInCompany">
      <ng-container *ngFor="let company of followedCompanies; trackBy: trackByFn">
        <div class="msg-item p-x-16 p-y-12" (click)="onProfileClick(company)"@listItem>
          <div class="d-flex align-items-center w-100">
            <!-- Utilisez l'image de l'entreprise -->
            <img [src]="company.image?.imageUrl || '/assets/images/profile/default-company.png'" 
                 class="rounded-circle" width="48" height="48" />
            <div class="m-l-16">
              <h5 class="f-s-14 f-w-600 m-0">
                {{ company.name }}

              </h5>
              <span class="f-s-12">{{ company.sector }}</span>
            </div>
          </div>
        </div>
      </ng-container>
  
      <div *ngIf="followedCompanies.length === 0" class="no-followers">
        <p>You're not following any companies yet</p>
      </div>
    </div>
</div>