<div class="cardWithShadow overflow-hidden">
    <header class="bg-primary p-b-24">
        <h3 class="text-white">My Followers</h3>
        <p class="text-white">Checkout companies im following</p>
    </header>

    <div class="msg-box p-b-16">
        <ng-container *ngFor="let msg of msgs; trackBy: trackByFn">
            <div class="msg-item p-x-24 p-y-16">
                <div class="d-flex align-items-center w-100">
                    <img [src]="msg.img" class="rounded-circle" width="48" />
                    <div class="m-l-16">
                        <h5 class="f-s-14 f-w-600 m-0">
                            {{ msg.title }}
                        </h5>
                        <span class="f-s-14">{{ msg.subtitle }}</span>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>
