<div class="card">
  <div class="card-header">
    <h4 class="card-title">Add New Meeting</h4>
  </div>
  <div class="card-body">
    <form [formGroup]="meetingForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="date">📅 Date</label>
        <input type="date" formControlName="date" class="form-control">
        <div *ngIf="meetingForm.controls.date.errors?.notBeforeToday" class="text-danger">
          The date cannot be before today.
        </div>
      </div>
      <div class="form-group">
        <label for="hour">⏰ Hour</label>
        <input type="time" formControlName="heure" class="form-control" required>
        <div *ngIf="meetingForm.controls.heure.errors?.required && meetingForm.controls.heure.touched">
          Hour is required.
        </div>
        <div *ngIf="meetingForm.controls.heure.errors?.pattern && meetingForm.controls.heure.touched">
          Please enter a valid hour (HH:mm).
        </div>
      </div>
      <div class="form-group">
        <label for="type">📝 Meeting Type</label>
        <select formControlName="typeMeeting" class="form-control" required>
          <option *ngFor="let type of typeMeetings" [value]="type">{{ type }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="description">🗒️ Description</label>
        <textarea formControlName="description" class="form-control" rows="4" required placeholder="Enter detailed description here..."></textarea>
        <div *ngIf="meetingForm.controls.description.errors?.required && meetingForm.controls.description.touched">
          Description is required.
        </div>
        <div *ngIf="meetingForm.controls.description.errors?.maxLength && meetingForm.controls.description.touched">
          Description must be no longer than 255 characters.
        </div>
      </div>
      <div class="form-group">
        <label for="student">Student</label>
        <select formControlName="studentId" class="form-control" required>
          <option value="" disabled selected>Select a student</option>
          <option *ngFor="let student of students" [value]="student.idUser">{{ student.firstName }} {{ student.lastName }}</option>
        </select>
      </div>
      <div class="d-flex justify-content-between mt-3">
        <button type="submit" class="btn btn-success" [disabled]="!meetingForm.valid">✅ Save Meeting</button>
        <button type="button" class="btn btn-danger" (click)="closeForm()">❌ Cancel</button>
      </div>
    </form>
  </div>
</div>
