<div class="sticky-profile-card">
  <div class="cardWithShadow little-profile">
    <!-- Bouton de fermeture -->
    <button class="close-button" (click)="closeProfileCard()">
      <i class="fas fa-times"></i>
    </button>

    <img src="assets/images/backgrounds/profile-bg.jpg" class="profile-bg-height" alt="Photo de fond" />
    <div class="card-content p-24">
      <div class="pro-img">
        <img [src]="image" width="128" alt="user" class="rounded-circle" />
      </div>
      <h3 class="m-b-0 f-s-20 f-w-500 m-t-30">{{ from }}</h3>
      <h6 class="f-s-14 f-w-400 m-t-4">Web Designer &amp; Developer</h6>
      <div class="justify-content-center m-y-10 p-24">
        <button class="follow-button">Follow</button>
      </div>
      <div class="row">
        <div class="col-4">
          <h3 class="m-b-4 f-s-20 f-w-500">1099</h3>
          <span class="f-s-14">Articles</span>
        </div>
        <div class="col-4">
          <h3 class="m-b-4 f-s-20 f-w-500">23,469</h3>
          <span class="f-s-14">Followers</span>
        </div>
        <div class="col-4">
          <h3 class="m-b-4 f-s-20 f-w-500">6035</h3>
          <span class="f-s-14">Likes</span>
        </div>
      </div>
    </div>
  </div>
</div>