body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  text-align: center;
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
}

.container {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background: white;
}

h1 {
  color: #dc3545;
  font-size: 50px;
  margin-bottom: 10px;
}

p {
  color: #6c757d;
  font-size: 18px;
}
