.remark-item {
  margin-bottom: 15px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.remark-text {
  font-size: 14px;
  color: #333;
  line-height: 1.5;
}

mat-dialog-content p {
  margin: 0;
  padding: 0;
}
