<h2 mat-dialog-title class="d-flex align-items-center justify-content-between">
  Remarks
</h2>

<mat-dialog-content class="mat-typography">
  <div *ngIf="remarks.length > 0; else noRemarks">
    <mat-form-field *ngFor="let remark of remarks">
      <mat-label>Remark</mat-label>
      <textarea matInput [(ngModel)]="remark.remark" disabled></textarea>
    </mat-form-field>
  </div>
  <ng-template #noRemarks>
    <p>No remarks available.</p>
  </ng-template>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="closeDialog()">Close</button>
</mat-dialog-actions>
