<div class="panel-header panel-header-sm"></div>

<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Planifier une Soutenance</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Étudiant</label>
                  <input type="text" class="form-control" placeholder="Nom de l'étudiant" value="Ahmed Ben Ali">
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Jury</label>
                  <input type="text" class="form-control" placeholder="Nom du jury" value="Dr. Mohamed Youssef">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Date</label>
                  <input type="date" class="form-control" value="2025-06-15">
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Heure</label>
                  <input type="time" class="form-control" value="10:00">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Lieu</label>
                  <input type="text" class="form-control" placeholder="Salle de soutenance" value="Salle 101">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <button type="button" class="btn btn-primary btn-block">Planifier</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="../assets/img/bg5.jpg" alt="Background">
        </div>
        <div class="card-body">
          <div class="author">
            <img class="avatar border-gray" src="../assets/img/mike.jpg" alt="User">
            <h5 class="title">Ahmed Ben Ali</h5>
            <p class="description">Étudiant en Informatique</p>
          </div>
          <p class="description text-center">
            "La soutenance approche, préparez-vous !"
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
