.file-upload-label {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 2px dashed #aaa;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: fit-content;
  }
  
  .file-upload-label:hover {
    border-color: #333;
  }
  
  .file-input {
    display: none;
  }
  
  .upload-icon {
    font-size: 20px;
  }
  