<div class="logo">
    <a href="#" class="simple-text">
          <img src="./assets/img/espritLogo.png"/>
    </a>
</div>
<div class="sidebar-wrapper">
  <h5>{{ userRole }}</h5>
  <ul class="nav">
    <li *ngFor="let menuItem of menuItems"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: false }"
        class="nav-item">
      <a [routerLink]="[menuItem.path]">
        <i class="now-ui-icons {{menuItem.icon}}"></i>
        <p>{{menuItem.title}}</p>
      </a>
    </li>
  </ul>
</div>
